# idea配置不提交
**/.idea/**
!**/.idea/icon.svg

# gradle缓存不提交
.gradle
!gradle-wrapper.jar

# 后端打包文件不提交
**/build
**/dist

# .DS_Store不提交
**/.DS_Store

# 前端打包不提交
torch-yun-backend/torch-yun-main/src/main/resources/templates
torch-yun-backend/torch-yun-main/src/main/resources/static

# ai脚本不提交
torch-yun-backend/torch-yun-main/src/main/resources/ai

# 代理安装包不提交
torch-yun-backend/torch-yun-main/src/main/resources/agent

# 企业版代码不提交
torch-yun-vip

# 资源文件不提交
resources/file
resources/jdbc
resources/libs
resources/license
resources/tmp

# 日志不提交
logs

# 大模型不提交
torch-yun-dist/zhishuyun-agent/file/*

# docker的gradle repo不提交
gradle-repo
.pnpm-store

# 本地python缓存不提交
torch-yun-vip/torch-yun-plugins/**/__pycache__
torch-yun-plugins/**/__pycache__

# 后端版本号文件不提交
torch-yun-backend/torch-yun-main/src/main/resources/VERSION
torch-yun-frontend/VERSION