name: build

on:
  workflow_dispatch:
    inputs:
      github_access_token:
        description: 'github access token'
        required: true
        type: string
      version_number:
        description: 'docker hub image version'
        required: true
        type: string
        default: latest
      repository_account:
        description: 'repository'
        required: true
        type: string
        default: 'isxcode'
      branch_number:
        description: 'branch'
        required: true
        type: string
        default: 'main'

env:
  ADMIN_GITHUB_TOKEN: ${{ inputs.github_access_token }}
  PYTHON_VERSION: '3.13'

jobs:

  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        node:
          - '18'

    steps:

      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai

      - name: Print system info
        run: |
          echo "Now Date: $(date)"
          echo "Home: $(pwd)"
          echo "CPU: $(grep -m 1 'model name' /proc/cpuinfo | cut -d: -f2 | xargs)"
          echo "Memory: $(free -h | awk '/^Mem:/ {print $2}')"

      - name: Checkout torch-yun
        uses: actions/checkout@v4
        with:
          token: ${{ env.ADMIN_GITHUB_TOKEN }}
          repository: ${{ inputs.repository_account }}/torch-yun
          ref: ${{ inputs.branch_number }}

      - name: Checkout torch-yun-vip
        uses: actions/checkout@v4
        with:
          token: ${{ env.ADMIN_GITHUB_TOKEN }}
          repository: ${{ inputs.repository_account }}/torch-yun-vip
          ref: ${{ inputs.branch_number }}
          path: "/home/runner/work/torch-yun/torch-yun/torch-yun-vip"

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Print node version
        run: node -v

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.0.6

      - name: Print pnpm version
        run: pnpm -v

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Cache pnpm
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('/home/runner/work/torch-yun/torch-yun/torch-yun-frontend/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Setup jdk
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '8'

      - name: Print java version
        run: java -version

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '7.6.1'
          cache-disabled: true

      - name: Print gradle version
        run: gradle -version

      - name: Cache gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('/home/runner/work/torch-yun/torch-yun/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Pip install requirements
        run: pip install -r /home/runner/work/torch-yun/torch-yun/requirements.txt

      - name: Cache dependencies
        uses: actions/cache@v4
        id: download-cache
        with:
          path: /home/runner/work/torch-yun/torch-yun/resources
          key: ${{ runner.os }}-file-${{ hashFiles('/home/runner/work/torch-yun/torch-yun/download.sh') }}

      - name: Download dependencies
        if: steps.download-cache.outputs.cache-hit != 'true'
        run: sudo bash /home/runner/work/torch-yun/torch-yun/download.sh

      - name: Build with gradle
        run: gradle install package

      - name: Upload zhishuyun tar
        uses: actions/upload-artifact@v4
        with:
          name: zhishuyun
          path: ./torch-yun-dist/build/distributions/zhishuyun.tar.gz

      - name: Upload zhishuyun agent tar
        uses: actions/upload-artifact@v4
        with:
          name: zhishuyun-agent
          path: ./torch-yun-dist/build/distributions/zhishuyun-agent.tar.gz

  # 上传到docker hub
  upload-docker-hub:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai

      - name: Checkout torch-yun
        uses: actions/checkout@v4
        with:
          token: ${{ env.ADMIN_GITHUB_TOKEN }}
          repository: ${{ inputs.repository_account }}/torch-yun
          ref: ${{ inputs.branch_number }}

      - name: Download zhishuyun tar
        uses: actions/download-artifact@v4
        with:
          name: zhishuyun
          path: ./

      - name: Unzip zhishuyun tar
        run: |
          tar -vzxf zhishuyun.tar.gz -C /tmp 
          mkdir -p /home/runner/work/torch-yun/torch-yun/resources
          mv /tmp/zhishuyun/resources/file /home/runner/work/torch-yun/torch-yun/resources/
          mkdir -p /home/runner/work/torch-yun/torch-yun/torch-yun-backend/torch-yun-main/build/libs
          mv /tmp/zhishuyun/lib/zhishuyun.jar /home/runner/work/torch-yun/torch-yun/torch-yun-backend/torch-yun-main/build/libs 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ispong
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          tags: isxcode/zhishuyun:${{ inputs.version_number }}
          push: true

  # 上传到服务器
  upload-server:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai

      - name: Download zhishuyun tar
        uses: actions/download-artifact@v4
        with:
          name: zhishuyun
          path: ./

      - name: Upload package to Ali server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          timeout: 3600s
          source: "zhishuyun.tar.gz"
          target: /data/file/

  # 上传阿里镜像仓库
  upload-ali-hub:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai

      - name: Checkout torch-yun
        uses: actions/checkout@v4
        with:
          token: ${{ env.ADMIN_GITHUB_TOKEN }}
          repository: ${{ inputs.repository_account }}/torch-yun
          ref: ${{ inputs.branch_number }}

      - name: Download zhishuyun tar
        uses: actions/download-artifact@v4
        with:
          name: zhishuyun
          path: ./

      - name: Unzip zhishuyun tar
        run: |
          tar -vzxf zhishuyun.tar.gz -C /tmp
          mkdir -p /home/runner/work/torch-yun/torch-yun/resources
          mv /tmp/zhishuyun/resources/file /home/runner/work/torch-yun/torch-yun/resources/
          mkdir -p /home/runner/work/torch-yun/torch-yun/torch-yun-backend/torch-yun-main/build/libs
          mv /tmp/zhishuyun/lib/zhishuyun.jar /home/runner/work/torch-yun/torch-yun/torch-yun-backend/torch-yun-main/build/libs 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Ali Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.cn-shanghai.aliyuncs.com
          username: ispong
          password: ${{ secrets.ALI_DOCKERHUB_TOKEN }}

      - name: Build and Push Amd64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          tags: registry.cn-shanghai.aliyuncs.com/isxcode/zhishuyun:${{ inputs.version_number }}-amd64
          push: true

      - name: Build and Push Arm64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          tags: registry.cn-shanghai.aliyuncs.com/isxcode/zhishuyun:${{ inputs.version_number }}-arm64
          push: true

  # 上传到代理镜像到阿里云
  upload-agent-ali-hub:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai

      - name: Download zhishuyun agent tar
        uses: actions/download-artifact@v4
        with:
          name: zhishuyun-agent
          path: ./

      - name: Create dockerfile
        run: |
          echo "FROM alpine:latest" > Dockerfile
          echo "" >> Dockerfile
          echo "COPY zhishuyun-agent.tar.gz /tmp/zhishuyun-agent.tar.gz" >> Dockerfile
          echo "" >> Dockerfile
          echo 'ENTRYPOINT ["tail", "-f", "/dev/null"]' >> Dockerfile

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Ali Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.cn-shanghai.aliyuncs.com
          username: ispong
          password: ${{ secrets.ALI_DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          tags: registry.cn-shanghai.aliyuncs.com/isxcode/zhishuyun-agent:${{ inputs.version_number }}
          push: true